body{
  
  background-image: url("website_image2.jpg");
  background-size: cover;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.navbar-wrapper{
	margin-bottom: 30px;
	margin-top: 10px;
}

.navigation-item{
       margin-top: 5px;	
}

li {
  font-size: 1.5em;
}

hr{
	color: black;
}



p {
  font-size: 25px;
  font-weight: bold;
}

.navigation_bar{
  margin-top: 20px;
  color: blue;
}

#profilepic{
  margin-top: -20px;
}

#purplefont{
  margin-top: 30px;
  color: purple;
  font-size: 27px;
}

.bluefont{
  font-size: 20px;
  text-decoration: underline;
}

.header{

  margin-bottom: 50px;
  height: 100px;
  background-color: purple;
}

.header2{
  margin-top: 10px;
}

.title{
  font-size: 50px;
  color: white;
  font-style: bold;
  text-align: center;
  padding-top: 5px;
}

.main{
 height: 1600px;
 margin-top: -15px;
}



.resume{
  margin-top: 30px;
}

.center{
  text-align: center;
}

.Hover {
  border: 10px solid;
  border-color: red;
  }

  @media(max-width: 1080px){


.title{
  font-size: 50px;
  color: white;
  font-style: bold;
}

p{
  font-size: 4em;
}

li {
  font-size: 3em;
}

}
